img {
  width: 300px;
  height: 300px;
  -webkit-user-drag: none;
}

#container {
  float: left;
}

button {
  margin: 5px;
}

#playerStatus {
  float: right;
  margin-right: 50%;
}

#battleLog {
  height: 100px;
  background-color: #bdbebd;
  overflow: auto;
}
